<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="crossBrowser" thread-count="1" parallel="tests">
    <test name="chromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="CoreFunctionalityTests"/>
            <class name="UIResponsivenessTests"/>
        </classes>
    </test>
</suite>